* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #48555b;
  font-size: 13px;
  line-height: 23px;
}

a:hover {
  transition: 0.7s;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

img {
  display: block;
}
