.nav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.nav__container {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.nav__logo {
  height: 18px;
  width: auto;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}
